version: "3.9"
services:
  frontend:
    stdin_open: true
    tty: true
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3001:3000"
    volumes:
      - ./:/app
      - /app/node_modules